body {
  font-family: "Arial", sans-serif;
  background-color: rgba(228, 228, 228, 1);
  margin-top: 0 !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  margin-bottom: 5%;
}

.Guide{
  font-family: Roboto;
  font-size: 18px;

}

.navigation {
  text-align: center;
  color: white;
  border-width: 0px;
  position: relative;
  background-color: rgba(0, 140, 140, 1);
}

.title {
  text-align: center;
  color: white;
  text-align: center;
  font-style: normal;
  font-size: 200%;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 10px;
}

.subtitle {
  align-content: center;
  color: white;
  font-weight: 400;
  margin: 0px;
}


.frigos {
  float: right;
  width: 75%;
}



.imgContainer{
  position: relative;
}
.commandButton:hover{
  cursor: pointer;
}

.exitContainer{
  position: absolute;
  top: 0px;
  left: 0px;
}

.flecheContainer{
  text-align: right;
}


.imgExit{
  transform: rotate(180deg);
}

.imgExit:hover{
  cursor: pointer;
}

.fleche{
  text-align: right;
  margin: 0px;
}

.subtitle_container{
 display:flex;
 justify-content: center;
 align-items: center;
}

/*Pop-up article*/
.popup{
  visibility: hidden;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 582px;
  height: 285px;
  top: 50%;
  left: 50%;
  margin-top: -142px;
  margin-left: -291px;
  padding: 20px 15px 0px 15px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 35%);
}

.firstGuide:hover{
  cursor: pointer;
}

.popup2{
  visibility: hidden;
}

.popup2_p{
  top: 25%;
  position: absolute;
  padding-right: 10%;
}

.nouvelles_container{
  float: left;
  width: 60%;
}



.xButton{
  top: -10px;
  left: 100%;
  width: 15px;
  height: 15px;
  border-width: 0px;
  position: absolute;
}

.popup_title{
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.popup_p{
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
}

.popupExit{
  visibility: hidden;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 337px;
  height: 331px;
  top: 50%;
  left: 50%;
  margin-top: -168px;
  margin-left: -165px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 35%);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 5px;
  color: #8C8C8C;
  text-align: left;
}

.popupExitTitle{
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 6%;
  white-space: nowrap;
  border-bottom-color: #8C8C8C;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  padding-left: 3%;
  padding-right: 14%;
  padding-bottom: 5%;
  box-sizing: border-box;
}

.popupExit_p{
  top: 20%;
  padding-left: 3%;
  padding-right: 6%;
  white-space: nowrap;
  font-size: 18px;
  position: absolute;
  box-sizing: border-box;
  padding-top: 6%;
  padding-bottom: 20%;
  border-bottom-color: black;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1.5px;
}


.popupExitButtons{
  font-size: 18px;
  left: 45%;
  top: 87%;
  position: relative;
}

.popupExitAnnuler{
  color: rgba(0, 140, 140, 1);
}

.popupExitAnnuler:hover {
  cursor: pointer;
}

.popupExitOk{
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 140, 140, 1);
  white-space: nowrap;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.popupExitOk:hover {
  cursor: pointer;
}

/*Commandes*/
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.inner-grid-container{
  display: grid;
  grid-template-columns: 35% 10% 20%;
  grid-column-gap: 5px;
}
.button-grid{
  display: grid;
  padding: 0;
  margin: 0;
}

.grid-item{
  display: relative;
  margin: 0px;
  margin-left: 10%;
  padding-top: 5px;
  text-align: center;
}
.commande {
  font-family: Arial;
  font-weight: 400;
  float: right;
  margin: 0;
  width: 30%;
  border: 1px solid rgba(121, 121, 121, 1);
  text-align: left;
}
.commande_title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}
.commandElem{
  align-items: center;
  width: 33.33%;
  column-count: 3;
}

.commandElemInput {  
  width: 80px;
  height: 40px;
  border-radius: 15%;
  padding-left: 10px;
  margin-right: 10%;
  font-size: 18px;
  color: #8C8C8C;
  vertical-align: none;
  text-align: left;
  border-color: transparent;
}
.product_name{
  font-size: 17px;
  text-align: left;
}
.commandElemComment{
  position: relative;
  width: 289px;
  height: 79px;
  padding: 2px;
  font-size: 18px;
  color: #000000;
  vertical-align: none;
  border-color: transparent;  
}
.commandElemInput_button {
  font-size: 19px;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  width: 190px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #008c8c;
}
.commandElemInput_button:hover{
  cursor:pointer;
}
.autres_title{
  position: relative;
  font-size: 18px;
  text-align: left;
  margin-bottom: 1px;
}

/*Nouvelles*/
.nouvelles {
  float: left;
  width: 100%;
}

.article{
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.firstarticlecontainer:hover {
  cursor: pointer;
}
.xButton:hover{
  cursor: pointer;
}

.articlep{
  font-family: Arial, sans-serif;
  font-size: 13px;
}

h1{
  font-family: Arial, sans-serif;
  font-size: 24px;
}

/*Bas de page*/
/*Template*/
.bas_de_page {
  display: flex;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(242, 242, 242) 0%, rgb(228, 228, 228) 100%, rgb(255, 255, 255) 100%);
}

.column {
  position: relative;
  float: left;
  width: 33.33%;
  font-weight: bold;
}

/*Bottin*/
.nom{
  position: relative;
  font: "Roboto";
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: rgb(51,51,51);

}
.email{
  font-size: 14px;
  font: Arial, sans-serif;
  font-weight: lighter;
}
.copy_icon{
  position: relative;
  padding-left: 9px;
  height:15px;
  width:15px;
  cursor: pointer;
}

/*Compostage et Partenaires*/
a{
  text-decoration: none;
}
.logo_MTL, .logo_Brasserie {
  position: relative;
  width:129px;
  cursor:pointer;
}
.logo_MTL{
  height:27px;
}
.logo_Brasserie{
  height: 45px;
}
.logo_MTL_description, .logo_Brasserie_description{
  font-size: 14px;
  font-weight: 400;
  color: rgb(51,51,51);
  cursor: pointer;
}



@media only screen and (max-width:1000px){
  .nouvelles_container{
    width: 100%;
  }
  .commande{
    width: 100%;
  }
  .title{
    font-size: 150%;
  }
}