body {
  font-family: "Arial", sans-serif;
  background-color: rgba(228, 228, 228, 1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: white;
  text-align: center;
  font-style: normal;
  font-size: 200%;
  font-weight: 500;
}

.subtitle {
  text-align: center;
  color: white;
  font-weight: 400;
}

.frigos {
  float: right;
}

.navigation {
  text-align: center;
  color: white;
  border-width: 0px;
  position: relative;
  background-color: rgba(0, 140, 140, 1);
}

.commande {
  float: right;
  margin: 0;
}
.bas_de_page {
}
.column {
  float: left;
  width: 33.33%;
  font-weight: bold;
}
